@{
    ViewData["Title"] = "Home Page";
}

@* <script type="module" src="~/lib/firebase/firebase-app.js" asp-append-version="true"></script>
<script type="module" src="~/lib/firebase/firebase-messaging.js" asp-append-version="true"></script> *@


<div class="text-center">
    <h1 class="display-4">Welcome from Zu Zin's world</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>